<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/bootstrap_head :: bootstrap">

</head>
<body>
	<header>
		<div th:replace="fragments/admin_fragments :: nav_admin"></div>	
	</header>
	
	<div id="global" class="container">
	
		<a class="btn btn-warning my-4" th:href="@{/admins/questions/}">Retour à la liste des questions</a>
	
		
		<div class="row justify-content-center mb-5">
			<div class="col-6">
			
				<h4 class="text-bold" th:utext="'Question n° ' + ${question.id}"></h4>
				<div class="pb-3">
					<span class="badge bg-dark me-2 align-middle" th:utext="'Domaine : '"></span><span class="me-3 align-middle" th:utext="${question.questionDomain.domain}"></span>
					<span class="badge bg-dark me-2 align-middle" th:utext="'Niveau : '"></span><span class="me-3 align-middle" th:utext="${question.level}"></span>
					<span th:class="${question.isEliminatory == true ? 'badge align-middle bg-danger ' : 'badge align-middle bg-secondary'}" th:utext="${question.isEliminatory == true ? 'question éliminatoire' : 'question non éliminatoire'}"></span>
				</div>
				<div class="card bg-light shadow">
					<div class="card-body">
						<p class="card-text" th:utext="${question.text}">Question text</p>
						<div class="card-img-top ps-4" th:if="${media != null}">
							<img th:if="${media.mediaType == 'image'}" th:src="@{${'/uploads/' + media.fileName}}" class="img-fluid rounded" width="200px"/>
							<video th:if="${media.mediaType == 'video'}" th:src="@{${'/uploads/' + media.fileName}}" width="200px" height="200px" controls></video> 
						</div>
					</div>
				</div>
				
				<h5 class="mt-3">Réponses</h5>
				<div class="pb-3">
					<ul th:each="answer : ${answers}">
						<li> 
						<span class="me-2" th:utext="${answer.text}"></span>
						<span th:utext="${answer.isCorrectAnswer == true ? 'vrai' : 'faux'}" th:class="${answer.isCorrectAnswer == true ? 'badge align-middle bg-success' : 'badge align-middle bg-secondary'}"></span>
							<div class="media mt-2 ps-4" th:if="${answer.media != null}">
								<img th:if="${answer.media.mediaType == 'image'}" th:src="@{${'/uploads/' + answer.media.fileName}}" class="img-fluid rounded" width="200px"/>
								<video th:if="${answer.media.mediaType == 'video'}" th:src="@{${'/uploads/' + answer.media.fileName}}" width="400px" height="auto" controls></video> 
							</div>
						</li>
					</ul>
				</div>

			</div>
		</div>
		
	</div>	
	
	<footer th:replace="fragments/admin_fragments :: footer_admin"></footer>

</body>
</html>