<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/bootstrap_head :: bootstrap">
</head>
<body>
	<header>
		<div th:replace="fragments/admin_fragments :: nav_admin"></div>	
	</header>
	
	<div id="global" class="container">

		<div class="my-4">
			<h2 th:if="${question.id == null}" th:utext="'Créer une nouvelle question'"></h2>
			<h2 th:if="${question.id != null}" th:utext="'Editer la question n° ' + ${question.id}"></h2>
		</div>	

		<a class="btn btn-warning mb-3" th:href="@{/admins/questions/}">Retour à la liste des questions</a>

		<div class="row justify-content-start">
   			 <div class="col-8 pb-5">
				<form th:object="${question}" method="post" enctype="multipart/form-data">
					<div class="mb-3">
						<label class="mr-sm-2">Domaine : </label>
						<select class="form-select" th:field="*{questionDomain}">
<!-- 							<option th:selected="true" th:disabled="true" th:value="NOT_SELECTED" th:text="'Choisissez un domaine'">Choose...</option> -->
			   				 <option th:each="d : ${domains}" th:value="${d.id}" th:text="${d.domain}"/>
						</select>
					</div>
					<div class="mb-3">
						<label >Niveau : </label>
						<select class="form-select" th:field="*{level}">
<!-- 							<option th:selected="true" th:disabled="true" th:value="NOT_SELECTED" th:text="'Choisissez un niveau'">Choose...</option> -->
			   				<option th:each="level : ${T(com.humanbooster.Business_case_admin.model.Level).values()}" th:value="${level}" th:text="${level.displayValue}"/>
						</select>
					</div>
					<div class="mb-3">
						<label for="text" class="form-label">Libellé de la question</label> 
						<textarea  class="form-control" id="text" th:field="*{text}"></textarea>
						<span th:if="${#fields.hasErrors('text')}" th:errors="*{text}"> Erreur sur le texte </span>
					</div>
					<div class="mb-3" th:style="${media != null && media.fileName != null ? 'display:block' : 'display:none'}">
						<h5>Media : </h5>
						<img th:if="${media != null && media.mediaType == 'image'}" th:src="@{${'/uploads/' + media.fileName}}" />
						<video th:if="${media != null && media.mediaType == 'video'}" th:src="@{${'/uploads/' + media.fileName}}" width="200px" height="200px" controls></video> 
					</div>
					<div class="mb-3">
						<label class="form-label">Media à uploader : </label>
						<input class="form-control" type="file" name="file" accept="image/*, video/*"/>
					</div>
					<div class="mb-3">
					  	<label>Question éliminatoire ?</label>
					  	<div class="form-check">
					  		<input type="radio"   name="isEliminatory" th:field="*{isEliminatory}" th:checked="${question.isEliminatory != null && question.isEliminatory}" value="true" > oui
					  	</div>
			  			<div class="form-check">
			  				<input type="radio"   name="isEliminatory" th:field="*{isEliminatory}" th:checked="${question.isEliminatory != null && !question.isEliminatory}" value="false" > non
			  			</div>
					</div> 
					<input type="hidden"
							th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" />
					<button type="submit" class="btn btn-dark">Enregistrer</button>
				</form>
   			 </div>
   		</div>
   			
	</div>
	

	<footer th:replace="fragments/admin_fragments :: footer_admin"></footer>	


</body>
</html>