<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
</head>
<body>
	<h1>Liste des candidats</h1>
	<div id="global" class="container">
		<div class="row justify-content-end g-3 align-items-center py-2">
			<div class="col-auto">
				<a class="btn btn-light" th:href="@{/logout}">Déconnexion</a>
				<a class="btn btn-light" th:href="@{/candidats/add}">Ajouter un candidat</a>
			</div>
		</div>
	</div>

	

	<table class="table table-striped table-hover table-sm" th:if="${candidatsList != null && !candidatsList.isEmpty()}">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">
					<a th:href="@{'/candidats/page/' + ${currentPage} + '?sortField=nom&sortDir=' + ${reverseSortDir}}"> Nom</a>
				</th>
				<th scope="col">
					<a th:href="@{'/candidats/page/' + ${currentPage} + '?sortField=prenom&sortDir=' + ${reverseSortDir}}"> Prénom</a>
				</th>
				<th scope="col">
					<a th:href="@{'/candidats/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}"> Email</a>
				</th>
				<th scope="col">
					<a th:href="@{'/candidats/page/' + ${currentPage} + '?sortField=username&sortDir=' + ${reverseSortDir}}"> Username</a>
				</th>
				<th scope="col">Adresse</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="candidat : ${candidatsList}">
				<th scope="row" th:utext="${candidat.id}"></th>
				<td th:utext="${candidat.nom}"></td>
				<td th:utext="${candidat.prenom}"></td>
				<td th:utext="${candidat.email}"></td>
				<td th:utext="${candidat.username}"></td>
				<td th:utext="${candidat.adresse} + ', ' + ${candidat.codePostal} + ' ' + ${candidat.ville}" ></td>
				<td>
					<a th:href="@{/candidats/{id}(id=${candidat.id})}">Détail</a>
					<a th:href="@{/candidats/edit/{id}(id=${candidat.id})}">Modifier</a>
					<a th:href="@{/candidats/delete/{id}(id=${candidat.id})}">Supprimer</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div th:if="${nbTotalPages > 1}">
		<div class="row col-sm-10">
			<div class="col-sm-2">Total Rows: [[${totalItems}]]</div>
			<div class="col-sm-1">
				<span th:each="i: ${#numbers.sequence(1, nbTotalPages)}"> 
				<a th:if="${currentPage != i}" th:href="@{'/candidats/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
				<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp; </span>
			</div>
			<div class="col-sm-1">
				<a th:if="${currentPage < nbTotalPages}" th:href="@{'/candidats/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
            	<span th:unless="${currentPage < nbTotalPages}">Next</span>
			</div>

			<div class="col-sm-1">
				<a th:if="${currentPage < nbTotalPages}" th:href="@{'/candidats/page/' + ${nbTotalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
           		<span th:unless="${currentPage < nbTotalPages}">Last</span>
			</div>
		</div>
	</div>

</body>
</html>

