<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/bootstrap_head :: bootstrap">

</head>

<body>
	<header>
		<div th:replace="fragments/candidat_fragments :: nav_candidat"></div>	
	</header>
		
	<div id="global" class="container">
		
		<form th:object="${testResult}" method="post">
			
			<h4 class="text-bold" th:utext="'Question n° ' + ${questionNo}"></h4>
			<div class="pb-3">
				<span class="badge bg-dark me-2 align-middle" th:utext="'Domaine : '"></span><span class="me-3 align-middle" th:utext="${question.questionDomain.domain}"></span>
			</div>
			<div class="card bg-light shadow">
				<div class="card-body">
					<p class="card-text" th:utext="${question.text}">Question text</p>
					<div class="card-img-top ps-4" th:if="${question.media != null}">
						<img th:if="${question.media.mediaType == 'image'}" th:src="@{${'/uploads/' + question.media.fileName}}" class="img-fluid rounded" width="200px"/>
						<video th:if="${question.media.mediaType == 'video'}" th:src="@{${'/uploads/' + question.media.fileName}}" width="200px" height="200px" controls></video> 
					</div>
				</div>
			</div>
			<input type="hidden" th:value="${questionId}" th:field="${testResult.questionId}" />
			<input type="hidden" th:value="${infocoId}" th:field="${testResult.infocoId}" />
			<input type="hidden" th:value="${testResult.id}" th:field="${testResult.id}" />
			
			<h5 class="mt-3">Réponses</h5>
			<div class="pb-3">
				<ul th:each="answer : ${question.answers}">
					<li> 
						<span class="me-2" th:utext="${answer.text}"></span>
						<input type="radio" th:value="${answer.id}" th:field="${testResult.answerId}"/>
						<div class="media mt-2 ps-4" th:if="${answer.media != null}">
							<img th:if="${answer.media.mediaType == 'image'}" th:src="@{${'/uploads/' + answer.media.fileName}}" class="img-fluid rounded" width="200px"/>
							<video th:if="${answer.media.mediaType == 'video'}" th:src="@{${'/uploads/' + answer.media.fileName}}" width="400px" height="auto" controls></video> 
						</div>
					</li>
				</ul>
			</div>
						
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
			<a th:if="${questionNo > 1}" role="button" class="btn btn-outline-success" th:href="@{'/candidats/edit/' + ${candidat.id} + '/' + ${techTest.id} + '/' + ${infoco.id} + '/question/' + ${questionNo - 1} }">Question précédente</a>			
			<button type="submit" class="btn btn-dark" th:text="${questionNo} == ${techTest.questions.size()} ? 'Terminer le test' : 'Question suivante'">Question suivante</button>	
		
		</form>
		
		<div class="my-4">
			<h3 th:utext="'question n° ' + ${questionNo} + ' sur ' + ${techTest.questions.size()}"></h3>
		</div>	
		<div class="progress w-25">
		  	<div class="progress-bar" 
		  			role="progressbar" 
		  			th:with="progression = ${questionNo * 1.0 / techTest.questions.size() * 100}" 
		  			th:style="'width:' + ${progression} + '%;'"  
		  			aria-valuemin="0" aria-valuemax="100" 
		  			th:text ="${progression} + '%'" >25%</div>
		</div>
			
		
	</div>	
	
</body>
</html>
	